[Desktop Entry]
Type=Application
Name=SoundStep
Comment=Listen to and share music with friends
Exec=SoundStep
Icon=soundstep
Terminal=false
Categories=AudioVideo;Audio;Player;
StartupWMClass=soundstep
